<div class="auth__container">
    <div class="auth__content" aria-labelledby="accountLogin">
        <h1 id="accountLogin" class="center">Account Login</h1>
        <form class="form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" value="">
            </mat-form-field>

            <button class="auth__button " mat-raised-button color="primary">Sign in</button>

            <div class="center">
                <span>Forgot </span><a href="">Username/Password</a>
            </div>
            <div class="center">
              <span>Create an account? </span><a href="">Sign up</a>
            </div>

        </form>
    </div>

</div>
