
 <!--<button  mat-raised-button color="primary" [routerLink]="['/login']">Login</button> -->
 <nav class="menu__content">
   <div class="menu__logo">
     <img alt="logo página" src="../../../../../assets/logo-accesibilidad.png" />
     <!-- https://www.flaticon.es/icono-gratis/accesibilidad_1665751?term=accesibility&page=1&position=34 -->
   </div>
  <div class="menu__container-sections">
    <a href="#section1">Sección1</a>
    <a href="#section2">Sección2</a>
    <a href="#section3">Sección3</a>
    <a href="#section4">Sección4</a>
  </div>
</nav>
<header class="header__content">
  <h1 class="header__title">
    Accessibility page
  </h1>
  <p class="header__description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id efficitur quam, id lobortis turpis. Ut egestas fermentum dignissim. Nullam quis dui dolor.
  </p>
  <button class="header__button-mas">Cónoce más</button>
</header>
<div>
  <section id="section1">
    <div class="section1__background">
      <div class="section1__content">
        <h2 class="section1__title" >Section 1</h2>
        <iframe width="420" height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div>
  </section>
  <section id="section2">
  </section>
  <section id="section3">
  </section>
  <section id="section4">
  </section>
</div>

