
 <!--<button  mat-raised-button color="primary" [routerLink]="['/login']">Login</button> -->
 <nav class="menu__content">
   <div class="menu__logo">
     <img alt="logo página" src="../../../../../assets/logo-accesibilidad.png" />
     <!-- https://www.flaticon.es/icono-gratis/accesibilidad_1665751?term=accesibility&page=1&position=34 -->
   </div>
  <div class="menu__container-sections"><!--https://stackoverflow.com/questions/36101756/angular2-routing-with-hashtag-to-page-anchor-->
    <a [routerLink] = "['./']"  fragment="section1">Sección1</a>
    <a [routerLink] = "['./']"  fragment="section2">Sección2</a>
    <a [routerLink] = "['./']"  fragment="section3">Sección3</a>
    <a href="#section4">Sección4</a>
  </div>
</nav>
<header class="header__content">
  <h1 class="header__title">
    Accessibility page
  </h1>
  <p class="header__description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id efficitur quam, id lobortis turpis. Ut egestas fermentum dignissim. Nullam quis dui dolor.
  </p>
  <button class="header__button-mas">Cónoce más</button>
</header>
<div>
  <section id="section1">
    <div class="section1__background">
      <div class="section1__content">
        <h2 class="section1__title" >Section 1</h2>
        <iframe width="420" height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div>
  </section>
  <section class="section2__container" id="section2">
    <div class="section2__accesibility-image">
      <img alt="accesibilidad_imagen" src="../../../../../assets/phone.png" />
    </div>
    <div class="section2__content">
      <h2 class="section__title section2__title">What is Accesibility?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id efficitur quam, id lobortis turpis. Ut egestas fermentum dignissim. Nullam quis dui dolor. Nam congue ipsum ante, nec malesuada nibh vulputate ac.
      </p>
      <p>
        Sed a felis dolor. In hac habitasse platea dictumst. Sed dolor velit, rutrum a leo fermentum, laoreet finibus purus. Fusce dignissim, massa a condimentum lacinia, lorem metus ultricies tellus, non posuere turpis augue vulputate ante.
      </p>
    </div>
  </section>
  <section id="section3">
    <h2 class="section__title">Accesibility Videos</h2>
  </section>
  <section id="section4">
  </section>
</div>

