
 <!--<button  mat-raised-button color="primary" [routerLink]="['/login']">Login</button> -->
<div>

</div>
 <nav class="menu__content">
   <div class="menu__logo">
     <img alt="logo página" src="../../../../../assets/logo-accesibilidad.png" />
   </div>
  <div class="menu__container-sections">
    <a href="#section1">Sección1</a>
    <a href="#section2">Sección2</a>
    <a href="#section3">Sección3</a>
    <a href="#section4">Sección4</a>
  </div>
</nav>
<header>
  <h1>
    Accessibility page
  </h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id efficitur quam, id lobortis turpis. Ut egestas fermentum dignissim. Nullam quis dui dolor.
  </p>
  <button>Cónoce más</button>
</header>
<div>
  <section id="section1">
  </section>
  <section id="section2">
  </section>
  <section id="section3">
  </section>
  <section id="section4">
  </section>
</div>

